html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--alegreya), serif;
  font-size: 2rem;
  color: var(--grey);
  padding: 2rem;
  background: var(--light-green);
}