:root {
  --light-green: #e6f7ee;
  --shadow-green: #c3d3c9;
  --dark-purple: #301150;
  --purple: #9a6fc2;
  --light-purple: #ae93c8;
  --grey: #f2eff0;
  --alegreya: "Alegreya SC";
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--alegreya), serif;
  font-size: 2rem;
  color: var(--grey);
  padding: 2rem;
  background: var(--light-green);
}